# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Softwareontwikkeling\Data_Science_0172\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
